* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url("clarence-impala.jpg");
    background-size: cover;
}

header {
    font-size: 30px;
}

.content {
    background-color: lightblue;
    padding-top: 6px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 125px;
}

#question {
    margin-left: 12px;
    margin-right: 12px;
    background-color: lightcoral;
    padding: 10px;
}

#time {
    background-color: lightseagreen;
    padding: 10px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#choiceID {
    background-color: lightgoldenrodyellow;
    padding: 10px;
    margin: 0;
}

.choice {
    border: 1px solid gray;
    padding: 10px;
    margin: 5px;
}